body {
  background-color:#DAEAEE;
  color: #1C304A;
  text-align: center;
}

.app-block {
  margin: 2em auto;
  color: #000000;
  border-radius: 5px;
  background-color:#acced8;
  width: 40%;
  padding: 0.5em;
  font-size: large;
  box-shadow: 1px 2px 2px rgb(131, 131, 131);
  text-align: justify;
}

.disclaimer {
  font-weight: bold;
}

.app-button {
    margin-right: 0.25em;
    margin-left: 0.25em;
    padding: 0.3em;
    color: #212529;
    background-color: #fcd359;
    border-color: #fcd359;
    border-radius: 5px;
    font-size:2em;
    font-weight: bold;
    margin-bottom: 2em;
}

.back-button {
  background-color: #beb8a3;
  border-color: #beb8a3;
}

.back-button:hover {
  background-color: #aca793 !important;
  border-color: #aca793 !important;
}

.reset-button {
  background-color: #5468a0;
  border-color: #5468a0;
  color: white;
}

.reset-button:hover {
  background-color: #425486 !important;
  border-color: #425486 !important;
}

.gift-button {
  background-color: #57d18a;
  border-color: #57d18a;
}

.gift-button:hover {
  background-color: #4bb678 !important;
  border-color: #4bb678 !important;
}

.app-button:hover {
  background-color: #ffcb31;
  border-color: #ffcb31;
  cursor: pointer;
}

@media (max-width: 400px) {  
  .app-block {
    width: 90%;
  }
}

@media (min-width: 400px) and (max-width: 800px) {  
  .app-block {
    width: 80%;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {  
  .app-block {
    width: 60%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {  
  .app-block {
    width: 50%;
  }
}

.app-text-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.175em 0.35em;
  font-size: 1.2em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 5px;
}

.app-text-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #acced8;
  outline: 0;
  box-shadow: 0 0 0 0.05em #307399;
}

.app-text-input-label{
  text-align: left;
}

.app-values-block {
  text-align: left;
  display: flex;
}

.app-values-column {
  width: 50%;
  padding: 10px;
}

@media (max-width: 640px) {  
  .app-values-column {
    width: 100%;
  }

  .app-values-block {
    flex-wrap: wrap;
  }
}

.app-values-filter {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
}

.app-values-selected {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.app-values-available {
  height: 71%;
}

.plus-button {
  height: fit-content;
  font-size: 1.4em;
  border-radius: 5px;
  margin-left:5px;
  color: #212529;
  background-color: #5ed17b;
  border-color: #5ed17b;
}

.plus-button:hover {
  background-color: #49af63;
  border-color: #49af63;
  color: #e0e0e0;
  cursor: pointer;
}

.minus-button {
  margin-top: 4px;
  height: fit-content;
  font-size: 1.4em;
  border-radius: 5px;
  margin-left:5px;
  color: #212529;
  background-color: #fa5a5a;
  border-color: #fa5a5a;
  cursor: pointer;
}

.minus-button:hover {
  background-color: #c93e3e;
  border-color: #c93e3e;
  cursor: pointer;
  color: #e0e0e0;
}

.app-values-selected select {
  height: 90%
}

.app-values-column input {
  font-size: 1em;
}

.app-select-multiple {
  width: 100%;
  box-sizing: border-box;
  padding: 0.175em 0.35em;
  font-size: 1.2em;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #acced8;
  border-radius: 5px;
  margin-top: 5px;
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.05em #307399;
}

.app-rating table {
  width: 100%;
}

.app-rating table input {
  width: 3em;
}

.rating-column {
  text-align: center;
  width: 30%;
}

.rating-selected {
  color: blue;
}

.value-green {
  color: #388738
}

.value-orange {
  color:#fd890e;
}

.value-red {
  color:rgb(219, 0, 0);
}

.value-green, .value-orange, .value-red {
  font-weight: bold;
  font-size: larger;
}

header {
  font-size: xx-large;
  margin-top: 2em; 
}

.goals-table, .scores-table {
  width: 100%;
}

.value-hint {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 10px;
  font-size: smaller;
  cursor: help;
}

.value-hint-popup {
  font-size: large !important;
  max-width: 200px !important;
}

@media (max-width: 400px) { 
  .app-values-column-selected {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.value-description {
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.final-info {
  text-align: justify;
  padding: 1em;
  max-width: 500px;
  margin: 0 auto;
}
